# P
.DS_Store
*.DS_Store
.log
php-7.*

# Object files
.o
.ko

# Libraries
.lib
*.a

# Shared objects (inc. Windows DLLs)
#*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
openresty-image-screenshot/opencv-2.4.9.tar.gz
